@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #171717;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  height: 100%;
  overflow-x: hidden;
}
body {
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  //   overflow: hidden;
  font-family: "Inter", "Montserrat", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}
#main {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
}

.util_flex {
  display: flex;
}
.util_grid {
  display: grid;
}

img {
  width: 100%;
  display: block;
}
.main {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.section {
  width: 100%;
  height: 100%;
  //   height: 100vh;
  &__inner {
    width: 1320px;
    margin: 0 auto;
  }
}

.header {
  &__inner {
    width: 1280px;
    margin-inline: auto;
    justify-content: space-between;
  }
  .logo {
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
  }
}

/* bars */
.chartBarsWrap.chartBarsHorizontal {
  flex-direction: column;
  padding-left: 70px;
  .chartBars {
    .bars {
      background-color: #ccc;
    }
    .bar {
      width: 0;
      padding-block: 8px;
      text-align: right;
      font-size: 1.5em;
      -webkit-transition: 2s width cubic-bezier(0.6, 0.4, 0.4, 1.1);
      transition: 2s width cubic-bezier(0.6, 0.4, 0.4, 1.1);
      color: #fff;
      font-family: Montserrat, sans-serif;
      &:after {
        content: "%";
        font-size: 22px !important;
        vertical-align: top;
        color: rgba(255, 255, 255, 0.8);
        margin-right: -8px;
        font-size: 0.6em !important;
        margin-right: 20px;
      }
    }
  }
}
$lighten-percentage: 15%;
$green: #6b8e23;
$lightgreen: lighten($green, $lighten-percentage);
$blue: #49e;
$lightblue: lighten($blue, $lighten-percentage);
$orange: #ffa500;
$lightorange: lighten($orange, $lighten-percentage);
$purple: #6e46af;
$lightpurple: lighten($purple, $lighten-percentage);

.bars .bar.greenBar {
  background-color: #6b8e23;
  background: radial-gradient($lightgreen, $green);
}
.bars .bar.greenBarFlat {
  background-color: #6b8e23;
}

.bars .bar.blueBar {
  background-color: #49e;
  background: radial-gradient($lightblue, $blue);
}

.bars .bar.blueBarFlat {
  background-color: #49e;
}

.bars .bar.orangeBar {
  background-color: orange;
  background: radial-gradient($lightorange, $orange);
}

.bars .bar.orangeBarFlat {
  background-color: orange;
}

.bars .bar.purpleBar {
  background-color: #6e46af;
  background: radial-gradient($lightpurple, $purple);
}

.bars .bar.purpleBarFlat {
  background-color: #6e46af;
}

.skills {
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  align-items: center;
  &__img {
    width: 200px;
    margin-inline: auto;
  }
}

/* tab */
$color_list: (#e4f6c3, #bedeff, #ffe2a1, #fcffa5, #d9dfff);

.tab-nav {
  display: flex;
  justify-content: center;
  background-color: #3d57db;
  height: 60px;
  &__item {
    flex: 1;
    font-size: 20px;
    line-height: 1.2;
    color: #afd4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    &:not(:last-child) {
      &::after {
        content: "";
        width: 1px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &.active {
      color: #fff;
    }
  }
}
.tab-content {
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    display: none;

    &.active {
      display: flex;
    }
  }
}

@for $i from 1 through length($color_list) {
  .tab-content__box:nth-child(#{$i}) {
    background-color: nth($color_list, $i);
  }
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
