@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #171717;
}

:root {
  --swiper-theme-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: auto;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

#main {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: transform 0.8s ease-in-out;
}

.util_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.util_grid {
  display: grid;
}

header {
  width: 100%;
  height: 80px;
  font-family: "Source Code Pro", monospace;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #fff;
}
header.on {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header__inner {
  max-width: 1320px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-inline: 3.125%;
  justify-content: space-between;
  box-sizing: border-box;
}

.logo {
  font-size: 2rem;
  height: 100%;
}
.logo > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav {
  width: 50%;
  height: 100%;
}
.nav .util_flex {
  justify-content: center;
  gap: 20px;
  height: 100%;
}
.nav__item {
  flex: 1;
  height: 100%;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.nav__link {
  transition: all 0.2s;
}
.nav__link:hover {
  color: rgb(167, 167, 167);
}
.nav__link.active {
  color: rgb(167, 167, 167);
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__inner {
  max-width: 1320px;
  width: 100%;
  padding-inline: 3.125%;
  margin: 0 auto;
  box-sizing: border-box;
}
.section__title {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: bold;
  font-family: "Source Code Pro", monospace;
  display: inline-block;
  margin-bottom: 4.6875%;
  position: relative;
  text-transform: uppercase;
}
.section__title::before {
  content: "";
  width: 0;
  height: 50%;
  background-color: #fff6b3;
  position: absolute;
  left: -3%;
  bottom: 0;
  z-index: -1;
  transition: width ease-in-out;
}
.section__title.aos-animate::before {
  animation: highlight 0.8s forwards ease-in-out;
}
.section__desc {
  font-size: 1.125rem;
  line-height: 1.5;
}
.section__desc + .section__desc {
  margin-top: 14px;
}

/* kv */
.section--kv {
  width: 100%;
  background: linear-gradient(-130deg, #f7cfd8 0, #f4f8d3 23%, #a6f1e0 73%, #73c7c7 100%);
  animation: gradient 20s linear infinite;
  background-size: 300% 300%;
  position: relative;
  z-index: 1;
}
.section--kv .section__desc {
  font-size: 20px;
}

/* about */
.section--about .util_flex {
  gap: 18%;
}
.section--about .section__img {
  width: 25%;
  flex: 0 0 auto;
}
.section--about .section__img > img {
  filter: blur(4px);
  transition: all 1s cubic-bezier(0, 0, 0.8, 1) 0.5s;
}
.section--about .section__img.aos-animate > img {
  filter: blur(0);
}
.section--about .text-wrap {
  flex: 1;
}
.section--about .content + .content {
  margin-top: 40px;
}
.section--about .content__title {
  font-size: 1.75rem;
  line-height: 1.5;
  margin-bottom: 20px;
  display: inline-block;
}
.section--about .content--edu .section__desc {
  margin-top: 14px;
}
.section--about .about-desc {
  font-size: 1rem;
  line-height: 1.5;
}
.section--about .about-desc--large {
  font-size: 1.5rem;
  font-weight: 500;
}
.section--about .intro-point {
  font-size: 1.25rem;
  display: inline-block;
  position: relative;
}
.section--about .intro-point::before {
  content: "";
  width: 0;
  height: 20px;
  background-color: #fff6b3;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: width 0.8s ease-in-out;
}
.section--about .intro-point.aos-animate::before {
  width: 100%;
}

/* skills */
.section--skills .skills {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2.5%;
}
.section--skills .skills__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section--skills .skills__img {
  width: 90%;
  margin-inline: auto;
}

/* bars */
.chartBarsHorizontal {
  width: 100%;
  border-radius: 2em;
  overflow: hidden;
  margin-top: 20px;
}
.chartBarsHorizontal .chartBars .bars {
  background-color: #ececec;
}
.chartBarsHorizontal .chartBars .bar {
  width: 0;
  padding-block: 8px;
  text-align: right;
  font-size: 1.125rem;
  -webkit-transition: 2s width cubic-bezier(0.6, 0.4, 0.4, 1.1);
  transition: 2s width cubic-bezier(0.6, 0.4, 0.4, 1.1);
  color: #fff;
  background: linear-gradient(90deg, #f4f8d3, #73c7c7);
}
.chartBarsHorizontal .chartBars .bar:after {
  content: "%";
  font-size: 1rem;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.8);
  margin-right: -8px;
  margin-right: 20px;
}

/* tab */
.tab {
  border-radius: 2em;
  overflow: hidden;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
}

.tab-nav {
  display: flex;
  justify-content: center;
  height: 70px;
}
.tab-nav__item {
  cursor: pointer;
  flex: 1;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #ffead0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  transform: all 0.2s;
}
.tab-nav__item:hover .tab-nav__title {
  color: rgb(23, 23, 23);
}
.tab-nav__item.active {
  box-shadow: rgb(233, 215, 183) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.tab-nav__item.active .tab-nav__title {
  color: rgb(23, 23, 23);
}
.tab-nav__title {
  font-size: 1.25rem;
  line-height: 1.2;
  color: rgba(23, 23, 23, 0.5);
  transition: all 0.2s;
}

.tab-content__box {
  display: none;
  padding: 4.16%;
}
.tab-content__box:not(.tab-content__box--side) {
  padding-bottom: 5%;
}
.tab-content__box.active {
  display: block;
}

/* experience */
.experience-info {
  width: 30%;
  flex: 0 0 auto;
}

.experience-title {
  font-size: 1.875rem;
  line-height: 1.2;
}

.experience-title-point {
  font-size: 1.375rem;
  font-weight: 500;
  display: block;
  margin-top: 10px;
  color: #4d91d1;
}

.experience-date {
  font-size: 1rem;
  line-height: 1.2;
  margin-top: 10px;
}

.experience-detail {
  flex: 1;
}
.experience-detail__item + .experience-detail__item {
  margin-top: 15px;
}
.experience-detail__item > ul {
  padding-left: 20px;
}

.experience-detail {
  position: relative;
  text-align: left;
}
.experience-detail__title {
  font-size: 1.125rem;
  line-height: 1.75;
  font-weight: 700;
  position: relative;
  padding-left: 10px;
  display: block;
}
.experience-detail__title::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #171717;
  position: absolute;
  top: 12px;
  left: 0;
}
.experience-detail__desc {
  font-size: 1.125rem;
  line-height: 1.75;
}

/* project */
.project {
  align-items: flex-end;
}
.project__item {
  height: auto;
}
.project__item:not(:last-child) {
  margin-right: 50px;
}
.project__link {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.project__link:hover .project__thumb {
  filter: blur(4px);
}
.project__link:hover .hover-box {
  transform: translateY(0);
}
.project__thumb {
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
}

.hover-box {
  padding: 3.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(55%);
  transition: 0.5s all ease-in-out;
  border-radius: 2rem 2rem 0 0;
}
.hover-box__title {
  font-size: 1.875rem;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 56px;
}
.hover-box__desc {
  font-size: 1.5rem;
  line-height: 1.2;
  color: #fff;
}
.hover-box__desc + .hover-box__desc {
  margin-top: 10px;
}
.hover-box .text-point {
  color: #fff;
}

/* side */
.btn-wrap {
  display: flex;
  justify-content: center;
  align-self: center;
}

.side_btn {
  font-size: 1.5rem;
  line-height: 1.2;
  position: relative;
}
.side_btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-image: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  transition: width ease-in-out;
  animation: underline 1s infinite forwards ease-in-out;
}

/* swiper */
.experienceSwiper,
.projectSwiper {
  width: 100%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -30px;
}

.swiper-pagination-bullet-active {
  background: #171717;
}

/* keyframes */
@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes highlight {
  from {
    width: 0;
  }
  to {
    width: 110%;
  }
}
@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */